.form {
  width: 90%;
  margin: 45px auto;
  background-color: #fff;
  padding: 20px;
}

form {
  width: 70%;
  margin: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 35px 0;
  font-size: 1.2rem !important;
}

.select-input div {
  color: hsl(0, 0%, 30%) !important;
}

.date-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.date-input-wrapper .input-wrapper {
  margin: unset;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
}

.create-button {
  margin-left: 50px;
}