.form {
  width: 60%;
  margin: 45px auto;
  background-color: #fff;
  padding: 20px;
}

.form form {
  width: 90%;
  margin: auto;
}

.select-input div {
  color: hsl(0, 0%, 30%) !important;
}

.date-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.date-input-wrapper .input-wrapper {
  margin: unset;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.bg-dark {
  display: block;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 5px;
  background-color: #2591CE;
  color: #fff;
}

@media (max-width: 1140px) {
  .date-input-wrapper {
    display: unset;
  }

  .date-input-wrapper .input-wrapper {
    margin: 35px 0;
  }
}