body {
  margin: 0;
  font-family: 'Averia Serif Libre', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECF2F9;
}

.bg-dark {
  background-color: #2591CE;
}
