body {
  margin: 0;
  font-family: 'Averia Serif Libre', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECF2F9;
}

.bg-dark {
  display: block;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 5px;
  color: #fff;
}

.bg-light {
  display: block;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: transparent;
  border-radius: 5px;
  color: #000;
  background-color: #ebebeb;
}
